{% extends 'base.html' %}

{% block content %}
    <h2>Question</h2>
    {% include 'quiz/soal_list.html' %}
    <h2>Create Answer</h2>

    <form method="POST" class="post-form">
        {% csrf_token %}
        {{form.as_p}}
    <button type="submit" class="save btn btn-default">Submit Answer</button>
    </form>

    <script>
        var data = [
        {% for article in soal_list %}
            {% if not forloop.first %},{% endif %}
              {
                  pertanyaan: "{{ article.pertanyaan }}",
              }
        {% endfor %}
        ]
        console.log('data answer', data)
    </script>
{% endblock %}
