<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>E-LEARNING</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        {# Custom CSS#}
        <link rel="stylesheet" href="{% static 'css/quiz.css' %}">

        {# Fonts#}
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">

      </head>
<body>

  <nav class="navbar navbar-default techfont custom-navbar">
    <div class="container">


      <ul class="nav navbar-nav">
        <li><a class='navbar-brand bigbrand' href='{% url 'home' %}'><strong>STEM E-LEARNING</strong></a></li>
        <!-- <li><a href='#'>Take Online Exam</a></li> -->

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a id="uptime"></a><
        </li>
      </ul>
  </div>
</nav>

  {# The actual blog posts#}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                  <div class="blog_posts">
                    {% block content %}
                    {% endblock %}
                  </div>

                </div>
            </div>
        </div>



{# SCRIPTS#}

<!-- <script type="text/javascript" src="{% static 'js/blog.js' %}"></script> -->
<script>
// var countDownDate = localStorage.getItem('startDate');
// if (countDownDate) {
//     countDownDate = new Date(countDownDate);
// } else {
//     countDownDate = new Date();
//     localStorage.setItem('startDate', countDownDate);
// }

var countDownDate = new Date();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = now - countDownDate.getTime();

    // Time calculations for days, hours, minutes and seconds
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("uptime").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";
}, 1000);
</script>

</body>
</html>
