{% extends "exam/base.html" %}

{% block content %}
  <div class="justify-content-center align-items-center">
    <br> <br>
    <br> <br>
    <div class="col-12 row h-100 justify-content-center align-items-center">
      <p>{{msg}}</p><br>
    </div> <br> <br>
    <div class="col-12 row h-100 justify-content-center align-items-center">
      <p>
        <a href="{% url 'result' %}">Kembali ke CEK HASIL UJIAN</a>
      </p>
    </div>
    <div class="col-12 row h-100 justify-content-center align-items-center">
      <p>
        <a href="{% url 'start' %}">Kembali ke Soal Ujian</a>
      </p>
    </div>
  </div>
{% endblock content %}
