{% extends "exam/base.html" %}

{% block content %}
  <div class="justify-content-center align-items-center">
    <div class="col-12 row h-100 justify-content-center align-items-center">
      <h1>HORE</h1><br>
    </div>
    <div class="col-12 row h-100 justify-content-center align-items-center">
      <p>{{message}}</p><br>
    </div>
    <div class="col-12 row h-100 justify-content-center align-items-center">
      <a href="{% url 'result' %}">CEK HASIL UJIAN</a><br>
    </div>
  </div>
{% endblock content %}
