{% extends "exam/base.html" %}

{% block content %}
  <div class="justify-content-center align-items-center">
    <br><br><br><br><br>
    <div class="col-12 row h-100 justify-content-center align-items-center">
      <h1>KODE TIDAK VALID</h1><br>
    </div>

    <div class="col-12 row h-100 justify-content-center align-items-center">
      <a href="{% url 'start' %}">Kembali ke Ujian</a><br>
    </div>
  </div>
{% endblock content %}
