{% extends "exam/base.html" %}

{% block content %}
  <div class="row justify-content-center align-items-center" id='question'>
    <div class="card">
      <form action="{% url 'start' %}" method="post">
        {% csrf_token %}

        <div class="card-body">
          <div class="row justify-content-center align-items-center">
            <p id="timer"></p>
          </div>
          {% for q in questions %}

          <div id="pertanyaan">
            <div class="pertanyaan">
              {% if q.image.url is not null %}
                <img src="{{q.image.url}}" alt="Soal">
              {% endif %}
              <h4>(*) {{q.pertanyaan}}</h4><br>
            </div>
            <br>
            <div class="form-group">
              <input type="radio" name="answer" value="A"> {{q.A}}<br>
              <input type="radio" name="answer" value="B"> {{q.B}}<br>
              <input type="radio" name="answer" value="C"> {{q.C}}<br>
              <input type="radio" name="answer" value="D"> {{q.D}}<br>
              <input type="radio" name="answer" value="E"> {{q.E}}<br>
              <input type="hidden" name="kode_ujian" value={{kode_ujian}}>
              <input type="hidden" name="nama_lengkap" value={{nama_lengkap}}>
              <input type="hidden" name="nomor_induk" value={{nomor_induk}}>
              <input type="hidden" name="nomor_soal" value={{q.nomor}}>
              <input type="hidden" id="menit" value={{q.durasi_minute}}>
              <input type="hidden" id="detik" value={{q.durasi_second}}>
            </div>
          </div>
          {% endfor %}
        </div>
      <div class="form-group col-12 row h-100 justify-content-center align-items-center">
        <button type="submit" class="btn btn-secondary">NEXT</button>
      </div>
      </form>

    </div>
  </div>
{% endblock content %}
