{% extends "exam/base.html" %}

{% block content %}

{% for ans in answers %}
{{ans.soal.nomor}}. {{ans.jawaban}}<br>
{% endfor %}

<div class="col-12 row h-100 justify-content-center align-items-center">
  <p>
    Benar = {{benar}} <br>
    Salah = {{salah}}
  </p>
</div>
<div class="col-12 row h-100 justify-content-center align-items-center">
  <p>
    TOTAL SCORE = {{score}}
  </p>
</div>

<div class="col-12 row h-100 justify-content-center align-items-center">
  <p>
    <a href="{% url 'result' %}">Kembali ke Cek Hasil Ujian</a>
  </p>
</div>
<div class="col-12 row h-100 justify-content-center align-items-center">
  <p>
    <a href="{% url 'start' %}">Kembali ke Soal Ujian</a>
  </p>
</div>

{% endblock content %}
