{% extends "exam/base.html" %}

{% block content %}
<div class="container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-8 row h-100 justify-content-center align-items-center">
      <h2>CEK HASIL UJIAN</h2>
    </div>
    <br><br><br><br><br><br><br>
    <form action="{% url 'result' %}" method='post' class="col-8">
      {% csrf_token %}
      <div class="form-group">
        <label for="formGroupExampleInput">Kode Ujian</label>
        <input type="text" class="form-control" name="kode_ujian" placeholder="Masukan kode ujian">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Nomor Induk Mahasiswa</label>
        <input type="text" class="form-control" name="nomor_induk" placeholder="Tulis Nomor Induk Mahasiswa">
      </div>
      <div class="form-group col-12 row h-100 justify-content-center align-items-center">
        <button type="submit" class="btn btn-secondary">KIRIM</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
