{% extends "exam/base.html" %}

{% block content %}
<div class="container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-8 row h-100 justify-content-center align-items-center">
      <h2>MULAI UJIAN</h2>
    </div>
    <br><br><br><br><br><br><br>
    <form action="{% url 'start' %}" method='post' class="col-8">
      {% csrf_token %}
      <div class="form-group">
        <label for="formGroupExampleInput">Kode Ujian</label>
        <input type="text" class="form-control" name="kode_ujian" placeholder="Masukan kode ujian">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Nama Lengkap</label>
        <input type="text" class="form-control" name="nama_lengkap" placeholder="Tulis Nama Lengkap">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Nomor Induk Mahasiswa</label>
        <input type="text" class="form-control" name="nomor_induk" placeholder="Tulis Nomor Induk Mahasiswa">
      </div>
      <div class="form-group">
         <input type="hidden" name="nomor_soal" value=0>
      </div>
      <br>
      <div class="row h-100 justify-content-center align-items-center">
        <p><i>
          Pastikan Anda sudah siap secara MENTAL & FISIK sebelum klik tombol ENTER.<br>
          Jangan lupa berdoa & Tahan napas 5 detik sebelum klik ENTER<br>
          </i>
        </p>
      </div>
      <br>
      <div class="form-group col-12 row h-100 justify-content-center align-items-center">
        <button type="submit" class="btn btn-secondary"  onclick="startExamNow()">ENTER</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
